<!DOCTYPE html>
<html>
<body>

<button onclick="playAudio1()" type="button">Nguyên</button>

<button onclick="playAudio2()" type="button">Phát</button>

<button onclick="playAudio3()" type="button">lẹ kìa</button>

<script>

function playAudio1() {
    var audio1 = new Audio('nguyen.mp3');
    audio1.play();
}

function playAudio2() {
    var audio2 = new Audio('phat.mp3');
    audio2.play();
}

function playAudio3() {
    var audio3 = new Audio('quick.mp3');
    audio3.play();
}

</script>

</body>
</html>

